* {
  box-sizing: border-box;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  border-width: 1px;
}

html {
  font-size: 16px;
}

body {
  background-color: rgba(192, 192, 192, 0.1);
}

ul {
  margin: 0;
  padding: 0;
}

aside {
  border-right: 1px rgba(0, 173, 238, 0.4) solid;
  height: 100%;
  width: 200px;
  position: fixed;
}
aside img {
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

main {
  margin-left:  200px;
  padding-left: 20px;
  padding-right: 20px;

}

li {
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px rgba(0, 173, 238, 0.4) solid;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 7%;
  display: block;
  list-style: none;
}

li a {
  font-weight: bold;
  color: #00ADEE;
  text-decoration: none;
}

li:first-child{
  text-decoration: underline;
}

main header img{
  height: 100px;
  margin-bottom: 1%;
}
main img.banner {
  width: 100%;
}

section div {
width: 33%;
display: inline-block;
padding: 1%;
}

div h2 {
  color: #8CC36F;
}

h2 i {
  margin-right: 2%;
}

section div:nth-child(-n+2){
  border-right: 1px rgba(170, 239, 135, 0.8) solid;
}
